table {
	border: solid black 1px;
}

.board table {
    border-collapse: collapse;
}


.board td {
    width: 20px;
    height: 20px;
    border: 0;
}

.grid {
	border-radius: 10px;
}

.snake {
    background-color: orange;
}
.food {
	background-color: red;
}
/*.bg {
	background-color: YellowGreen;
}*/