@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

body {
	background-image: url("../img/bg.png");
	background-color: YellowGreen;
	color: white;
	text-align: center;
}

h1 {
	font-family: 'Share Tech Mono', monospace;
	letter-spacing: 0.1em;
	font-size: 30px;
	font-weight: bold;
}
h2{
	letter-spacing: 0.1em;
}

table {
	border-radius: 10px;
	border: solid black 1px;
	background-color: white;
/*	width: 480;
	height: 640;*/
}

.score {
	margin: 0 auto;
	visibility: hidden;
}

.board {
	font-family: Helvetica, Arial, sans-serif;
}

.board table {
    border-collapse: collapse;
}


.board td {
    width: 40px;
    height: 40px;
    border: 0;
}

.grid {
	border-radius: 10px;
}

.snake {
    background-color: green;
}
.food {
	/*background-color: gray;*/
	background-image: url("../img/mouse.png");
	background-repeat: no-repeat; /*Fix image "Overflow" Problem*/
}
.button {
	margin: 0 auto;
	visibility: hidden;
}